policy_module(ibilechain, 1.100.1)

########################################
#
# Declarations
#

type ibilechain_t;
type ibilechain_exec_t;
init_daemon_domain(ibilechain_t, ibilechain_exec_t)

permissive ibilechain_t;

type ibilechain_initrc_exec_t;
init_script_file(ibilechain_initrc_exec_t)

type ibilechain_conf_t;
files_type(ibilechain_conf_t)

type ibilechain_var_lib_t;
files_type(ibilechain_var_lib_t)

type ibilechain_var_run_t;
files_type(ibilechain_var_run_t)

type ibilechain_port_t;
corenet_port(ibilechain_port_t)

########################################
#
# ibilechain local policy
#
allow ibilechain_t self:process { fork };

allow ibilechain_t self:fifo_file rw_fifo_file_perms;
allow ibilechain_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(ibilechain_t, ibilechain_conf_t, ibilechain_conf_t)
manage_files_pattern(ibilechain_t, ibilechain_conf_t, ibilechain_conf_t)

manage_dirs_pattern(ibilechain_t, ibilechain_var_lib_t, ibilechain_var_lib_t)
manage_files_pattern(ibilechain_t, ibilechain_var_lib_t, ibilechain_var_lib_t)
files_var_lib_filetrans(ibilechain_t, ibilechain_var_lib_t, { dir file })

manage_dirs_pattern(ibilechain_t, ibilechain_var_run_t, ibilechain_var_run_t)
manage_files_pattern(ibilechain_t, ibilechain_var_run_t, ibilechain_var_run_t)

sysnet_dns_name_resolve(ibilechain_t)
corenet_all_recvfrom_unlabeled(ibilechain_t)

allow ibilechain_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(ibilechain_t)
corenet_tcp_sendrecv_generic_node(ibilechain_t)
corenet_tcp_sendrecv_all_ports(ibilechain_t)
corenet_tcp_bind_generic_node(ibilechain_t)

gen_require(`
    type ibilechain_port_t;
')
allow ibilechain_t ibilechain_port_t:tcp_socket name_bind;

gen_require(`
    type ibilechain_port_t;
')
allow ibilechain_t ibilechain_port_t:tcp_socket name_connect;

domain_use_interactive_fds(ibilechain_t)

files_read_etc_files(ibilechain_t)

miscfiles_read_localization(ibilechain_t)

sysnet_dns_name_resolve(ibilechain_t)

allow ibilechain_t ibilechain_exec_t:file execute_no_trans;
allow ibilechain_t self:process setsched;
corecmd_exec_ls(ibilechain_t)
corenet_tcp_connect_http_port(ibilechain_t)
dev_read_urand(ibilechain_t)
fs_getattr_xattr_fs(ibilechain_t)
kernel_read_system_state(ibilechain_t)
